# Forder
.vs/*
.idea/*
x64/*
CMakeLists.txt.user
out
build
install
*.ts
*.qm

package
dist

regressions/output
regressions/Files
WinUserSetting.cmake
launch.json
settings.json
filename.txt

.VSCodeCounter/*
.DS_Store
